# Database URL
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"

# CodeDNA OTP Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-google-app-password
EMAIL_FROM="CodeDNA Verification" <your-email@gmail.com>
